<mat-expansion-panel *ngIf="categories">
    <mat-expansion-panel-header>
        <mat-panel-title>
            CATEGORIES
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list [multiple]="false">   <!--  Only allows selecting one item  -->
        <mat-list-option *ngFor="let category of categories" [value]="category">        <!--forms a button for each category of products-->
            <button (click)="onShowCategory(category)">{{category}}</button>
        </mat-list-option>
    </mat-selection-list>
</mat-expansion-panel>